doctype 5
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/underscore.js")
    script(src="/javascripts/backbone.js")
    script(src="/javascripts/modernizer.js")

    block js

  body
    block content